<%= form_with(model: plant, class: "contents") do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-700 px-3 py-2 font-medium rounded-lg mt-3">
      <%= render HeadingComponent.new(2).with_content("#{pluralize(plant.errors.count, 'error')} prohibited this plant from being saved:") %>

      <ul>
        <% plant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :common_name do %>
      Common name
      <%= render RequiredFieldAsteriskComponent.new %>
    <% end %>
    <%= form.text_field :common_name, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :latin_name %>
    <%= form.text_field :latin_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 grid grid-cols-2 grid-rows-2">
    <%= label_tag nil, class: "col-span-2" do %>
      Germination temperatures
      <i>(in Celsius)</i>
      <%= render RequiredFieldAsteriskComponent.new %>
    <% end %>
    <%= form.label :germination_temperature_minimum, "Minimum", class: "self-end text-sm" %>
    <%= form.label :germination_temperature_maximum, "Maximum", class: "self-end text-sm" %>
    <%= form.number_field :germination_temperature_minimum,
                          required: true,
                          class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <%= form.number_field :germination_temperature_maximum,
                          required: true,
                          class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :planting_depth do %>
      Planting depth
      <i>(in centimeters)</i>
      <%= render RequiredFieldAsteriskComponent.new %>
    <% end %>
    <%= form.number_field :planting_depth, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.button class: "group rounded-lg py-3 px-5 bg-blue-600 disabled:bg-blue-600/75 text-white inline-block font-medium cursor-pointer" do |default_text| %>
      <span class="inline group-disabled:hidden"><%= default_text %></span>
      <span class="hidden group-disabled:inline">Processing...</span>
    <% end %>
  </div>
<% end %>
