<div id="<%= dom_id plant %>">
  <% if action_name != "show" %>
    <%# TODO: Display complete common_name by clicking on the name %>
    <%= render HeadingComponent.new(2, extra_css_classes: "italic") do %>
      <%= truncate(plant.common_name, length: 50) %>
    <% end %>
  <% end %>

  <%- unless plant.latin_name.empty? %>
    <p class="my-5">
      <strong class="block font-medium mb-1">Latin name</strong>
      <%= plant.latin_name %>
    </p>
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Germination temperatures</strong>
    <%= plant.germination_temperature_minimum %>
    -
    <%= plant.germination_temperature_maximum %>
    °C
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Planting depth</strong>
    <%= plant.planting_depth %>
    cm
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this plant", plant, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this plant", edit_plant_path(plant), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
</div>
