<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @plant %>

    <%= link_to "Edit this plant", edit_plant_path(@plant), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= button_to "Delete this plant", plant_path(@plant), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-600 text-white font-medium",
                                                           form: { data: { turbo_confirm: "Are you sure?" }, class: "inline-block ml-2" } %>
    <%= link_to "Back to plants", plants_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
